.primary_hover__state:is(:hover, :focus, :active) {
    background-color: hsl(259, 100%, 55%);
    transition: 80ms ease-in-out;
  }
  
  .secondary_hover__state:is(:hover, :focus, :active) {
    border: 1px solid hsl(259, 100%, 55%);
    transition: 80ms ease-in-out;
  }