@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer base {
  :root {
    --background: 0, 0%, 99%;
    --background_white: 0, 0%, 100%;
    --primary: 259, 100%, 60%;
    --textStrong: 258, 18%, 24%;
    --textWeak: 258, 10%, 47%;
    --strokeStrong: 258, 23%, 71%;
    --strokeWeak: 257, 59%, 83%;
    --fill: 258, 100%, 98%;
    --specialPrimary: 116, 41, 255, 1;
    --specialFill: 116, 41, 255, 0.1;
    --specialStrokeStrong: 116, 41, 255, 0.2;
    --errorPrimary: 199, 58, 58, 1;
    --errorFill: 199, 58, 58, 0.1;
    --errorStrokeStrong: 199, 58, 58, 0.2;
    --warningPrimary: 143, 108, 26, 1;
    --warningFill: 143, 108, 26, 0.1;
    --warningStrokeStrong: 143, 108, 26, 0.2;
    --successPrimary: 6, 122, 88, 1;
    --successFill: 6, 122, 88, 0.1;
    --successStrokeStrong: 6, 122, 88, 0.2;
    --bgRaised: 255, 255, 255, 1;
    --bgOverlay: 255, 255, 255, 1;
    --raised: 0px 9px 12px -12px rgb(0, 0, 0);
    --overlay: 0 10px 10px 5px rgb(0 0 0 / 0.1),
      0 2px 10px -2px rgb(0 0 0 / 0.1);
  }
}

/* Typography */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.inter-light {
  font-weight: 300;
}
.inter-semi-bold {
  font-weight: 400;
}
.inter-bold {
  font-weight: 500;
}

/* Typography */

.inter-body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}
.ibm-plex-serif-semibold {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10rem 1fr 10rem;
  gap: 5rem;
}

.header,
.footer,
.main {
  display: grid;
  grid-template-areas: '. wrapper . ';
  grid-template-columns: 5rem 1fr 5rem;
}

.header-wrapper,
.footer-wrapper,
.main-wrapper {
  grid-area: wrapper;
}

/* spacing */
.title-body {
}

/* spacing */
